express.static(root, [options])
app.use('/static', express.static(path.join(__dirname, 'public')))

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Week 9 <%= title %></title>
</head>

<body>
  <div>
    <h3>Rate:</h3>
    <p id="rate"><%= rate %></p>
  </div>
</body>
<script src="index.js"></script>

</html>