<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
</head>

<body>
  <h1>Error: Page failed to load.</h1>
</body>
<script src="/web/project2/index.js"></script>

</html>