<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Quotes - Project 2</title>
</head>

<body>
  <h1>All Quotes</h1>

</body>
<script src="/web/project2/index.js"></script>

</html>