@import url('https://fonts.googleapis.com/css?family=Laila|Poppins');

html {
  background-color: #415a77;
  padding: 5px;
}

body {
  background-color: white;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0 auto;
  color: #444;
}

header {
  padding: 1em;
  text-align: center;
  color: #d1d1d1;
  background-color: #415a77;
  display: grid;
}

header>h1 {
  color: #d1d1d1;
  grid-column: 1/4;
  grid-row: 1/2;
  text-align: left;
  margin-left: 3em;
}

#logo {
  max-width: 75px;
  max-height: 75px;
  align-self: center;
  grid-column: 1/4;
  grid-row: 1/2;
  margin-left: 1em;
}

p {
  font-family: 'Poppins',
  sans-serif;
  color: #202a25;
  padding: 1em;
}

nav {
  background-color: #6D8DA0;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
  grid-column: 1/4;
  grid-row: 2/3;
}

nav>ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 1em;
  min-width: 70px;
}

nav a:link,
nav a:visited {
  color: #d1d1d1;
  text-decoration: none;
}

nav a:hover {
  color: #d1d1d1;
  background-color: #415a77;
}

h1 h2 h3 h4 h5 h6 {
  font-family: 'Laila',
  serif;
  color: #202a25;
}

img {
  max-width: 50%;
}

main {
  display: grid;
}

main img {
  margin: 1em;
  max-width: 100%;
}

main #intro {
  max-width: 22em;
  text-align: center;
  margin: 0 auto;
}

#about,
#mine,
#team {
  margin: 0 auto 0 auto;
}

#products {
  display: inline-flex;
}

#cart {
  align-self: center;
}

footer {
  padding: 0;
  text-align: center;
  color: #d1d1d1;
  background-color: #415a77;
}

footer p {
  margin: 0;
}